<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/semantic.min.css">
    <script src="../../static/js/semantic.min.js"></script>
    <link rel="icon" href="../../static/images/icon.png">
    <title>最近更新</title>
</head>
<body>
<table class="ui celled table">
    <thead>
    <tr><th>ID</th>
        <th>漫画名称</th>
        <th>作者</th>
        <th>封面</th>
    </tr></thead>
    <tbody>
    <tr th:each="list : ${list}">
        <td th:text="${list.id}">空间</td>
        <td th:text="${list.mhname}">空间</td>
        <td th:text="${list.authorname}">空间</td>
        <td><img src="" th:src="${list.imgurl}" style="width:60px;height:60px"/></td>
    </tr>
    </tbody>
    <tfoot>
   </tfoot>
</table>
</body>
</html>