@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575165619564'); /* IE9 */
  src: url('iconfont.eot?t=1575165619564#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKoAAsAAAAABlwAAAJeAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApgfwE2AiQDCAsGAAQgBYRtBzYbqwXIHpIkASg0ngelAABEiKDa77Nn336kUxcAkIAa2YVdZFgCCRdLMprKRxI51nEHW8uWL92YjP8uX5VGU9Vfye7tb51cqB6nEQohcVgQDtiAg9JEbaUNuKZ+Aj3I6oDm1G0d9OMKwAkOKKppZJvIzDeMXfACjxOom2msseN4cw99mT0uEBeNzqBfCMkyy1aFcsPSLB4qqaZb6Q0eRN+Pf9ZGlaRUsKfuPn0oYf3TT8WN6RuOB4QwAa4uocByIBP7G1M7tQTjWurr2+YCWRb8ND2NXeKodsH+OpvfBONQ8UxKT/Wo/ARy4pzh2QsmXUlq9i7/vN3/7t2BDx8OvX9/uH77acTNZ3ee0PC73Hg8my1fTkxkoH1BZVCTXTXzr5rbmq4/3m/9eNTujfesAaZfF85vtkIDwcfbB3eqs+F/dZTB59rm51Fg+nU2zAOq+3SFf6Mc2JANte1MWVM2epIZk8Ym1NUxDfv6/qZaRjeSC1Wj29FVDGWGQtV8MrPLUdKwHmVVm1G3zGl1wwBriVzDUh8AoesTSdsrFLq+ycz+omTMP8q6UaDuYAy2bFgY54bbmTKhEvM3NEUMynXLMM6/Jf3kMs6rI8EjcW2iuFi5upw9USBeYkb9rJciChVHj0dwGjkXMXE8UyHTSiStZqtON71pWkQPQ9sxkhGkhHJvkFGIAhW0F8PK528R7YmT4Y6SuvQjwmqmc7QwNR9AngxhUMmjvFJ7pi0JoSCFRR46gkHEcSKUmgedkYKYqiYkkpWZ00oNNUy3N/kfKGcV2NYUzvxC81Jl3qsYtDLOAQA=') format('woff2'),
  url('iconfont.woff?t=1575165619564') format('woff'),
  url('iconfont.ttf?t=1575165619564') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575165619564#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shizhongfill:before {
  content: "\e600";
}

